html
  head
    title My Site
  body
    h1 Hello world
    ul
      li
        a(href="/install_confirm") Show install confirmation
      li
        a(href="/community_members") Show your community members
